* 
  box-sizing: border-box

body 
  min-width: 320px
  font-family: "Arial", sans-serif
  font-size: 14px
  line-height: 1.6

.container
  // outline: 1px solid red
  max-width: 1230px
  margin: 0 auto
  padding: 0 15px

a 
  text-decoration: none
 
